.container_title{
  width: 255px;
  margin-left: auto;
  margin-right: auto;
}

.container_box{
  display: flex;
  justify-content: space-evenly;
}

.list{
  padding: 0;
}
.list_item {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  text-decoration: none;
  flex-flow: wrap;
  max-width: 960px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

  
.box_description {
  display: flex;
  color: black;
  text-align: left;
}

.item_price{
  margin-left: auto;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_box_counter{
  display: flex;
  margin-right: 110px;
}
  
.price{
  width: 75px;
  color: green;
  font-size: 24px;
}

.box_img{
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
  margin-right: 16px;
}

.item_box{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.item_box_btn{
  margin-left: auto;
  border: none;
}

.item_counter{
  width: 50px;
  border-radius: 10px;
  display: inline;
  border: 1px solid #3e77aa;
  padding: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.iconDelete{
  width: 26px;
  height: 26px;
  fill: #3e77aa
}

.iconDelete:hover{
  fill:tomato
}

.btn_delete{
  border: none;
  background-color: inherit;
  cursor: pointer;
}



.container_box_order{
  padding: 17px;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 15px;
  background-color: #00a0461a;
  border: 1px solid #00a046;
  border-radius: 5px;
  align-items: center;
}

.box_order_allTotal{
  font-size: 24px;
  margin-right: 25px;
}

.box_order_btn{
  padding: 15px;
  width: 110px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #00a046;
  cursor: pointer;
}

.box_order_btn:hover{
  background-color: #00bc52;
}





