.box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box_list {
    height: 400px;
    text-align: center;
    margin-right: 20px;
    border-radius: 4px;
    border: 1px solid tomato;
    display: flex;
    text-decoration: none;
    justify-content: center;
    justify-items: center;
    flex-flow: wrap;
    width: 200px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .box_btn {
    margin-bottom: 10px;
    border: none;
    color: tomato;
    background-color: inherit;
    cursor: pointer;
  }
  
  .box_description {
    display: flex;
    color: tomato;
    text-align: center;
  }
  